## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 

import os

path= os.path.join("/Users/farwaali/Desktop/Analysis Projects/world-weather-analysis/weather-database/", "WeatherPy_Database.csv")
city_data_df = pd.read_csv(path)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yellowknife,CA,62.4560,-114.3525,42.42,68,20,4.61,few clouds
1,1,Saint-Paul,RE,-21.0096,55.2707,77.09,67,13,4.07,few clouds
2,2,Bluff,NZ,-46.6000,168.3333,52.81,79,100,25.46,overcast clouds
3,3,Albany,US,42.6001,-73.9662,62.53,95,100,1.95,moderate rain
4,4,Fare,PF,-16.7000,-151.0167,78.57,73,9,10.33,clear sky

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Saint-Paul,RE,-21.0096,55.2707,77.09,67,13,4.07,few clouds
4,4,Fare,PF,-16.7000,-151.0167,78.57,73,9,10.33,clear sky
5,5,Port Augusta,AU,-32.5000,137.7667,70.70,25,30,21.50,scattered clouds
6,6,Salalah,OM,17.0151,54.0924,80.69,89,75,5.75,broken clouds
10,10,Rikitea,PF,-23.1203,-134.9692,73.18,71,86,17.85,light rain
11,11,Marawi,PH,7.9986,124.2928,74.64,87,100,6.31,overcast clouds
13,13,Porto Novo,BJ,6.4965,2.6036,78.62,92,100,3.38,overcast clouds
14,14,Victoria,HK,22.2855,114.1577,92.97,79,28,3.00,scattered clouds
16,16,Mahebourg,MU,-20.4081,57.7000,75.25,88,40,3.44,light rain
19,19,Surt,LY,31.2089,16.5887,73.47,57,0,9.28,clear sky

In [11]:
# 4a. Determine if there are any empty rows.

clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

# not really applicable to this dataset, but the code is below:

clean_df= clean_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Saint-Paul,RE,-21.0096,55.2707,77.09,67,13,4.07,few clouds
4,4,Fare,PF,-16.7000,-151.0167,78.57,73,9,10.33,clear sky
5,5,Port Augusta,AU,-32.5000,137.7667,70.70,25,30,21.50,scattered clouds
6,6,Salalah,OM,17.0151,54.0924,80.69,89,75,5.75,broken clouds
10,10,Rikitea,PF,-23.1203,-134.9692,73.18,71,86,17.85,light rain
11,11,Marawi,PH,7.9986,124.2928,74.64,87,100,6.31,overcast clouds
13,13,Porto Novo,BJ,6.4965,2.6036,78.62,92,100,3.38,overcast clouds
14,14,Victoria,HK,22.2855,114.1577,92.97,79,28,3.00,scattered clouds
16,16,Mahebourg,MU,-20.4081,57.7000,75.25,88,40,3.44,light rain
19,19,Surt,LY,31.2089,16.5887,73.47,57,0,9.28,clear sky

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Saint-Paul,RE,77.09,few clouds,-21.0096,55.2707,
4,Fare,PF,78.57,clear sky,-16.7000,-151.0167,
5,Port Augusta,AU,70.70,scattered clouds,-32.5000,137.7667,
6,Salalah,OM,80.69,broken clouds,17.0151,54.0924,
10,Rikitea,PF,73.18,light rain,-23.1203,-134.9692,
11,Marawi,PH,74.64,overcast clouds,7.9986,124.2928,
13,Porto Novo,BJ,78.62,overcast clouds,6.4965,2.6036,
14,Victoria,HK,92.97,scattered clouds,22.2855,114.1577,
16,Mahebourg,MU,75.25,light rain,-20.4081,57.7000,
19,Surt,LY,73.47,clear sky,31.2089,16.5887,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame + 
# 6c. Get latitude and longitude from DataFrame

for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
   
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 

    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Saint-Paul,RE,77.09,few clouds,-21.0096,55.2707,Boucan Canot
4,Fare,PF,78.57,clear sky,-16.7000,-151.0167,Maitai Lapita Village Huahine
5,Port Augusta,AU,70.70,scattered clouds,-32.5000,137.7667,Majestic Oasis Apartments
6,Salalah,OM,80.69,broken clouds,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
10,Rikitea,PF,73.18,light rain,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
688,Najran,SA,79.45,scattered clouds,17.4924,44.1277,محمد هادي ال فطيح
690,Cruzeiro,BR,70.57,light rain,-22.5761,-44.9628,Hotel Pousada Emaús
692,Bam,IR,80.46,scattered clouds,29.1060,58.3570,Bam Tourist Hotel
697,Kerema,PG,83.19,broken clouds,-7.9631,145.7785,Frena Lodge
699,Mount Isa,AU,92.97,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona

In [21]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))